.mainPageWrapper {
    height: 100vh;
    padding: 1%;
}

.taskCard {
    background: aliceblue;
    margin: 1em auto;
    width: 20%;
}

.overdue {
    color: red;
}

.commonDeadline {
    color: green;
}

